<div>
    <form class="form-inline" role="form" novalidate>
        <div ng-class="{'pull-right': goalModal.modalState.linkColorMode}">
            <label ng-if="!goalModal.modalState.linkColorMode"
                   class="control-label">
                Link group:
            </label>
            <input type="color"
                   spectrum-colorpicker
                   ng-model="newGoal.linkColor"
                   options="goalModal.colorPaletteOptions"
                   palette="goalModal.linkColorChoices" />
            <input disabled
                   class="form-control"
                   type="text"
                   size="12"
                   ng-model="newGoal.linkColor" />
        </div>
    </form>
</div>
<div>
    <div ng-if="goalModal.modalState.linkColorMode">
        <br>
        <hr>
    </div>
    <div>
        <span ng-if="newGoal.linkColor">
            <span>Other goals in</span>
            <span>
                <span> '<span ng-bind="newGoal.linkColor"></span>'</span>
            </span>
            <span> group:</span>
        </span>
        <span ng-if="!newGoal.linkColor">
            No group
        </span>
        <ul>
            <li ng-repeat="linkedGoal in goalModal.getLinkedGoals(newGoal) track by linkedGoal.id">
                <h4>
                    <span ng-bind="linkedGoal.goalText"></span>
                </h4>
            </li>
        </ul>
    </div>
</div>
