<!-- No more linking
<div class="modal-header">
    <button type="button"
            class="close"
            ng-click="resetGoalsModal();$close()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
        <h4 id="manageGoalsLabel" class="modal-title">
            <span>Edit group</span>
        </h4>
</div>
<div class="modal-body">
    <div ng-repeat="goal in goalModal.modalGoals track by goal.id">
        <div ng-include="'static/views/modals/link_color_inner_edit.html'"></div>
    </div>
    <input type="submit"
           value="Save"
           class="btn btn-success pull-right"
           ng-click="saveGoal(goalModal.modalState.goal)" />
    <br>
    <br>
</div>
<div class="modal-footer">
</div>-->
