<div class="modal-header">
    <button type="button" class="close" ng-click="$close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="manageGoalsLabel">
        Unread Manager Notes
    </h4>
</div>
<div class="modal-body">
   <!-- Notes go here -->
                    <div ng-if="main.showReportsNoteSection">
                                <div ng-repeat="note in main.getUnreadNotesForSingleUser(main.currentUser.id) track by note.id">
                                    <div style="font-weight: bold;">
                                        <span ng-if="!note.managerID"
                                              ng-bind="user.username"></span>
                                        <span ng-if="note.managerID">
                                            <span ng-if="main.accounts[note.managerID].username"
                                                  ng-bind="main.accounts[note.managerID].username"></span>
                                            <span ng-if="!main.accounts[note.managerID].username && note.managerName"
                                                  ng-bind="note.managerName"></span>
                                            <span ng-if="!main.accounts[note.managerID].username && !note.managerName">
                                                Manager
                                            </span>
                                        </span>

                                <div style="float: right;">
                                        <span style="float: left;">{{note.timestamp | date: 'MM/dd/yyyy'}}  {{note.timestamp | date: 'hh:mm a'}}</span>
                                    </div>
                        </div>
   
                                    <div class="notetext" style="margin: 15px;">
                                        <span ng-bind="note.noteText"></span>
                                      
                                    </div>
                                    <div ng-if="!main.currentUser.isManager()"
                                        style="padding: 0;">
                                        <label><input ng-if="note.managerID"
                                               type="checkbox"
                                               ng-checked="!reports.isNoteUnread(note.id)"
                                               ng-click="reports.addNoteToToggleList(note.id, $event)"
                                               > Mark as Read </label>
                                    </div>
                                    <hr />
                            </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
</div>
