<div class="modal-header">
    <button type="button" class="close" ng-click="$close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">
        Help and Tips
    </h4>
</div>
<div class="modal-body">
    <div ng-if="main.currentUser.isManager()">
        <p>
            <b>Manager Tip:</b>
            The mission of HKB Goals is to improve the performance of your team and increase your site's revenue. When

            employees have a system for setting and tracking goals and staying in peak state throughout the day,

            and when managers have a system that allows them to coach efficiently and provide timely

            feedback to staff, then performance improves and revenues increase.
        </p>
        <p>
            <b>Manager Tip:</b>
            Motivation is a private, internal process that endows employees with the energy and direction

            needed to be engaged, happy, and successful. It differs from influence, which is an interpersonal

            process that often goes by names such as persuasion, compliance, and leadership. HKB Goals is a

            motivational tool, designed to energize and empower employees, and propel them towards self-actualization 
            
            and fulfilling their potential.
        </p>
    </div>
    <div>
        <h5>Goal Tips</h5>
        <ul>
            <li>
                <p>
                    A goal is something you are striving to accomplish. It is a future-focused cognitive

                    representation of a desired state that guides behavior. Goal setting and goal striving is the

                    process of deliberately creating a discrepancy between your present state (where you are now)

                    and your ideal state (your goal), and then working to minimize and eliminate that discrepancy.
                </p>
            </li>
            <li>
                <p>
                    Your goals should be difficult - but not impossible - to achieve. Difficult goals have a large

                    discrepancy between the present state and the ideal state and will inspire you to work harder

                    and longer. Easy goals do not provide enough discrepancy between your present state and your

                    ideal state. If the discrepancy is small, then there is little motivation to resolve it.
                </p>
            </li>
            <li>
                <p>
                    Difficult goals energize and sustain behavior. Achieving difficult goals will generate feelings of

                    pride, confidence, satisfaction, and competence. These positive emotions and their underlying

                    neurochemicals (dopamine, serotonin, and endorphins) will generate success momentum and

                    energize you further, helping you to reach future goals.
                </p>
            </li>
            <li>
                <p>
                    Set specific goals. Specific goals will keep you focused and on task. Specific goals (and your

                    progress towards them) can be easily measured.
                </p>
            </li>
            <li>
                <p>
                    Connect your short-term goals to long-term goals whenever possible. Short-term goals provide

                    frequent opportunities for feedback and positive reinforcement. Goal setting translates into

                    increased performance only when there is timely feedback that documents your progress in

                    relation to a specific goal. When you connect a Day goal to a longer-term goal, you endow

                    that Day goal with a sense of purpose it otherwise would not have.
                </p>
            </li>
            <li>
                <p>
                    Your desire for personal growth is the ultimate motivational force. So tap into it! Set goals that

                    are genuine, authentic, and self-concordant. These goals will help you to sustain effort and put

                    you on the path towards self-actualization, towards fulfilling your potential and becoming the

                    person you want to be.
                </p>
            </li>
            <li>
                <p>
                    You should have an appropriate balance of intrinsic (or mastery) goals and extrinsic (or

                    performance) goals. Intrinsic goals pertain to: personal growth and self-actualization,

                    relationships with others (such as family, friends, and co-workers), contribution to society, and

                    physical and mental health. Extrinsic goals pertain to: financial success, demonstrating

                    competence relative to others, social recognition, image, and status.
                </p>
            </li>
            <li>
                <p>
                    People whose goal is to approach success (“My goal is to be #1 for the month.”) outperform

                    people whose goal is to avoid failure ("My goal is not to get written up.”). The type of goal you set

                    for yourself and how you frame it can affect the quality of your motivation and your

                    performance. Avoidance goals can lead to decreased self-esteem and feelings of incompetency.

                    Set approach goals whenever possible, and eliminate avoidance goals from your mindset. Be positive!
                </p>
            </li>
            <li>
                <p>
                    Be careful about sharing your goals with people other than your manager. Some subscribe to

                    the theory that sharing goals will help you achieve them because it creates social expectation

                    and accountability. However, cognitive science says otherwise.  When you share a goal with someone else, your mind is often

                    tricked into feeling that the goal is already accomplished. If you must share your goals, then be

                    sure you derive no satisfaction from doing so. A simple rule of thumb: Don’t share your goals,

                    share your accomplishments!
                </p>
            </li>
        </ul>
    </div>
    <div>
        <h5>Image Tips</h5>
            <ul>
                <li>
                    <p>
                        Use images to provide you with the psychological nutrients needed to stay in peak state

                        throughout the day. To be in peak state, we need to feel like we’re good at what we do; we

                        need to feel competent. We need to feel like we’re in control of our environment and activities;

                        we need to feel autonomous. And because we are inherently social animals, we also need to feel

                        connected and loved.
                    </p>
                </li>
            </ul>
            <div ng-if="main.currentUser.isManager()">
                <p>
                    <b>Manager Tip:</b> You can help your team stay in peak state by creating a work-environment 

                    that promotes and cultivates these three psychological nutrients: competency, autonomy, and relatedness.
                </p>
            </div>
            <ul>
                <li>
                    <p>
                        Pictures of your past significant achievements help you re-live those positive experiences.

                        Happy memories will help stimulate production of serotonin, the neurotransmitter responsible

                        for feelings of competence, confidence, and well-being.
                    </p>
                </li>
                <li>
                    <p>
                        Pictures of family, friends, and pets trigger feelings of love and relatedness. Relatedness is the

                        core psychological need for close emotional bonds and caring, reciprocal relationships.

                        Relatedness and its underlying hormone, oxytocin, is one of the fundamental psychological

                        nutrients necessary to achieve peak state and feelings overall well-being.
                    </p>
                </li>
                <li>
                    <p>
                        Studies designed to test the advice to “visualize success” determined that focusing on the goal

                        itself actually interfered with goal attainment. Focusing on how to accomplish the goal, rather

                        than the outcome, facilitated goal attainment. So to help generate more productive action

                        towards your goals, use images that pertain to processes rather than outcomes.
                    </p>
                </li>
                <li>
                    <p>
                        Images that make you smile will help put you into peak state. Feel-good brain chemicals

                        serotonin, dopamine, and endorphins are released whenever you smile. People who smile are

                        generally viewed as more attractive, reliable, and sincere than people who don’t. So smile!
                    </p>
                </li>
            </ul>
    </div>
    <div>
        <h5>Rewards Tips</h5>
        <ul>
            <li>
                <p>
                    Be thoughtful in your approach to rewards as they have the potential to be very powerful

                    drivers of motivation and goal achievement. A reward should be meaningful, desirable, and

                    redeemable. Anticipation of receiving a reward stimulates dopamine production which

                    regulates motivation and encourages action. Vary your rewards to ensure there is sufficient

                    anticipation. The reward, the anticipation, and the dopamine release are key mechanisms for

                    translating motivation into goal-directed action.
                </p>
            </li>
        </ul>
    </div>
    <div ng-if="main.currentUser.isManager()">
        <p>
            <b>Manager Tip:</b>
            The immediacy at which a reward is delivered partly determines its effectiveness. For example, if you are going to

            offer a SPIF, the sooner you pay it out, the more effective it will be, the higher its ROI.
        </p>
        <p>
            <b>Manager Tip:</b>
            Beware of the “hidden costs” of rewards. An extrinsic reward applied to an intrinsically

            interesting activity will undermine future intrinsic motivation. Super-motivation does not occur. So

            use rewards only for tasks that have lower intrinsic interest but high social importance.
        </p>
    </div>
</div>
<div class="modal-footer">
</div>